
<div class="container">
<div class="row mt-2">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select a State</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <div *ngFor="let state of states" >
              <button ngbDropdownItem [value]="state" (click)="selectedState($event)">{{state}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

 <div class="row mt-2">
   
   <div class="col-md-12 col-lg-6 d-flex flex-wrap" >
     <p *ngIf="stateCities.length == 0">Please select a state from the dropdown menu</p>
      <div class="col-6 col-md-4" *ngFor="let city of stateCities">{{city}}
    </div>
   </div>

   <div class="col-md-12 col-lg-6">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng" 
      (markerClick)="clickedMarker(m.label,infowindow)">
        <agm-info-window #infowindow>
          <strong>{{labelname}}</strong>
        </agm-info-window>
      </agm-marker>
    </agm-map>
   </div>
 </div> 
</div>